# Aplication
APP_NAME="go-payment-v2"
VERSION=2.0
ACCOUNT=local:localhost
ENV="dev"
TYPE="webserver"

# Http
HTTP_TIMEOUT="120s"
HTTP_KEEP_ALIVE="120s"
HTTP_READTIMEOUT="120s"
HTTP_WRITETIMEOUT="120s"
HTTP_IDLECONNTIMEOUT="120s"
HTTP_MAXIDLECONNS="2"
HTTP_MAXIDLECONNSPERHOST="2"
HTTP_MAXCONNSPERHOST="2"
HTTP_PORT="7003"
READ_BUFFER_SIZE="12288"
DISABLE_STARTUP_MESSAGE="true"

# Authentication
AUTHENTICATION_TIMEOUT=""
AUTHENTICATION_INITIAL_BACK_INTERVAL=""
AUTHENTICATION_MAX_INTERVAL=""
AUTHENTICATION_NLB_HOST=""
AUTHENTICATION_CLIENT_ID=""
AUTHENTICATION_CLIENT_SECRET=""
AUTHENTICATION_MAX_RETRY=""
AUTHENTICATION_DRY_RUN="true"

# Database
DB_HOST="127.0.0.1"
DB_PORT="5432"
DB_USERNAME="postgres"
DB_PASSWORD="postgres"
DB_NAME="postgres"
DB_SCHEMA="public"
DATABASE_QUERY_TRACER="false"
DB_MAX_CONNS="10"
DB_MIN_CONNS="5"

# Log
LOG_LEVEL="debug"
LOG_MODE="json"

# Leste-Oeste authorization
AUTHORIZATION_DRY_RUN="true"
AUTHORIZATION_JWKS_URL=https://auth.dev.caradhras.io/.well-known/jwks.json
AUTHORIZATION_HEADER_KEY="Authorization"
AUTHORIZATION_REQUIRED_HEADER="true"
ALLOWEDSCOPES=workload01:db-01,workload01:db-02

# Otel
OTEL_EXPORTER_OTLP_ENDPOINT="127.0.0.1:4317"
OTEL_STDOUT_TRACER="false"
OTEL_COLLECTOR="false"
OTEL_METRICS_PORT="8003"

# Kafka Producer
KAFKA_EVENT_DRY_RUN="true"
KAFKA_PRODUCER_BROKER="localhost:9092"
KAFKA_PRODUCER_TOPIC="payment.topic.01"
KAFKA_PRODUCER_PROTOCOL="SASL_PLAINTEXT"
KAFKA_PRODUCER_MECHANISM="PLAIN"
KAFKA_PRODUCER_USERNAME="admin"
KAFKA_PRODUCER_PASSWORD="admin"